@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Volkhov:7000&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  font-family: "Poppins";
  font-size: rem(16);
  color: #5E6282;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 60px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 0px 45px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 55px;
}
@media (max-width: 1084px) {
  .menu__list {
    gap: 20px;
  }
}
@media (max-width: 840px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 86px;
}
@media (max-width: 1084px) {
  .menu__body {
    gap: 30px;
  }
}
.menu__link {
  color: #212832;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}
.menu__link:hover {
  text-decoration: underline;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  color: #212832;
  font-size: 17px;
  font-weight: 500;
}
.action-header__login {
  background-color: white;
}
.action-header__login:hover {
  text-decoration: underline;
}
.action-header__login, .action-header__sign-up, .action-header__lang {
  color: #212832;
  font-size: 17px;
  font-weight: 500;
}
.action-header__sign-up {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 9px 22px;
  border: 1px solid #212832;
  border-radius: 5px;
  line-height: 22px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.action-header__sign-up:hover {
  background-color: #212832;
  color: white;
}
@media (max-width: 1084px) {
  .action-header {
    gap: 20px;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}